.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 100vh;
    background-color: #4a90e2;
    gap: 10px;
    padding-top: 10px;
}

.nav-hero{
    width: 150px;
}

.sidebar > a{
    transition: 0.3s;
    text-decoration: none;
    font-size: 16px;
    padding: 8px;
    border-radius: 10px;
    color: #ffffff;
    border: 1px solid transparent;
}

.sidebar > a:hover{
    transition: 0.5s;
    text-decoration: none;
    color: #f2994a;
    border-color: #f2994a;
}

.sidebar > a.active{
    color: white;
    background-color: #f2994a;
    border-color: #f2994a;
}

@media only screen and (max-width: 740px) {
  .sidebar{
    width: 100px;
  }

  .nav-hero{
    width: 100px;
    }


  .sidebar > a{
    transition: 0.3s;
    text-decoration: none;
    font-size: 12px;
    padding: 4px;
    border-radius: 10px;
    color: #ffffff;
    border: 1px solid transparent;
  }
}

@media only screen and (max-width: 480px) {
  .nav-hero{
    width: 80px;
  }

  .sidebar{
    width: 80px;
  }

  .sidebar > a{
    transition: 0.3s;
    text-decoration: none;
    font-size: 10px;
    padding: 2px;
    border-radius: 10px;
    color: #ffffff;
    border: 1px solid transparent;
  }
}