.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 100vh;
    background-color: rgb(204, 204, 204);
}

.sidebar > a{
    text-decoration: none;
}

.sidebar > a.active{
    color: red;
}