.search{
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.search > i {
    border-radius: 100px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    background-color: #4a90e2;
    height: 100%;
    border: 1px #4a90e2 solid;
    padding: 4px;
    transition: 0.3s;
    color: white;
    cursor: pointer;
}

.search > i:hover {
    color: #f2994a;
}

.search > input{
    background-color: transparent;
    padding: 3px 10px;
    border-radius: 100px;
    border: 1px rgb(168, 168, 168) solid;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-right: 0px;
    outline: none;
}