td{
    font-size: 12px;
}

table, th, td {
  border: 1px solid #ccc;
}

.table-section{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.table-section {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  box-sizing: border-box;
  scrollbar-width: thin;
}


th, td {
  padding: 10px;
  text-align: left;
}

.content{
  gap: 30px;
  padding-bottom: 10px;
}


@media only screen and (max-width: 740px) {
  th{
    font-size: 12px;
  }
  
  td{
    font-size: 8px;
  }

  th, td {
  padding: 2px;
  text-align: left;
}

} 


@media only screen and (max-width: 480px) {
  th{
    font-size: 10px;
  }

  .table-section{
    padding-left: 10px;
  } 
  
  td{
    font-size: 6px;
  }

  th, td {
  padding: 1px;
  text-align: left;
}
}