td{
    font-size: 12px;
}

table, th, td {
  border: 1px solid #ccc;
}

.table-section{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}


th, td {
  padding: 10px;
  text-align: left;
}

.content{
  gap: 30px;
  padding-bottom: 10px;
}


@media only screen and (max-width: 740px) {
  th{
    font-size: 12px;
  }
  
  td{
    font-size: 8px;
  }

  th, td {
  padding: 2px;
  text-align: left;
}
} 