<section class="content">
    <app-search (dataEmitter)="filterUserData($event)"></app-search>
    <button (click)="getUserData()">reset</button>

    <section class="table-section">
        <h2>მომხმარებლები</h2>
        <table>
            <tr>
                <th>სახელი</th>
                <th>ტელეფონის ნომერი</th>
                <th>მეილი</th>
                <th>კომპანიის დასახელება</th>
            </tr>
            @for (item of Users; track $index) {
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.company.name}}</td>
                </tr>
            }
        </table>
    </section>
    <section class="table-section">
        <h2>პოსტები</h2>
        <table>
            <tr>
                <th>სახელი</th>
                <th>ტელეფონის ნომერი</th>
                <th>მეილი</th>
                <th>კომპანიის დასახელება</th>
            </tr>
            @for (item of Users; track $index) {
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.company.name}}</td>
                </tr>
            }
        </table>
    </section>
</section>