<section class="content">
    <button (click)="getUserData()">reset</button>

    <section class="table-section">
        <h2>მომხმარებლები</h2>
        <app-search (dataEmitter)="filterUserData($event)"></app-search>
        <table>
            <thead>
                <tr>
                    <th>სახელი</th>
                    <th>ტელეფონის ნომერი</th>
                    <th>მეილი</th>
                    <th>კომპანიის დასახელება</th>
                </tr>
            </thead>
            <tbody>
                @for (item of users; track $index) {
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.phone}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.company.name}}</td>
                        <div class="button-hero">
                            <button>პოსტები</button>
                            <button>Todo list</button>
                        </div>
                    </tr>
                }
            </tbody>
        </table>
    </section>
    <section class="table-section">
        <h2>პოსტები</h2>
        <table>
            <thead>
                <tr>
                    <th>მომხმარებელი</th>
                    <th>პოსტი</th>
                </tr>
            </thead>
            <tbody>
                @for (item of posts; track $index) {
                    <tr>
                        <td>{{item.userName}}</td>
                        <td>{{item.title}}</td>
                        <div class="button-hero">
                            <button class="other-btn">დეტალურად</button>
                        </div>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</section>