.card-container{
    border: 1px black solid;
    background-color: red;
    padding: 5px;
}

@media only screen and (max-width: 1300px) {
  
    .card-container{
    border: 1px black solid;
    background-color: red;
}

} 


@media only screen and (max-width: 740px) {
  
    .card-container{
    border: 1px black solid;
    background-color: red;
}

} 