header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
    background-color: #4a90e2;
    color: white;
    height: 70px;
    align-items: center;
}

header > h1 > a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

header > h1 > a:hover{
    color: #f2994a;
}

@media only screen and (max-width: 740px) {
header{
    padding-inline: 15px;
    background-color: #4a90e2;
}

header > h1 > a{
    font-size: 22px;
}

header > p {
    font-size: 13px;
}

}