.wheel{
  width: 300px;
  height: 300px;
  border: 5px solid #333;
  border-radius: 50%;
  position: relative;
  margin-bottom: 10px;
}


.wheel-hero{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wheel-container{
  display: flex;
  flex-direction: column  ;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.sector{
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
  text-align: right;
  padding-right: 10px;
  font-weight: bold;
}

input{ 
    width: 60px; 
    padding: 5px; 
}

button{ 
    padding: 5px 15px; 
}

.error{ 
    color: red; 
    margin-top: 10px; 
}

i{
  margin-bottom: 10px;
}

@media only screen and (max-width: 740px) {
  .wheel{
    width: 150px;
    height: 150px;
  }

} 