.card-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px;
}

h2{
    text-align: center;
}

.card{
    width: 30%;
    display: flex;
    align-items: stretch;
}

@media only screen and (max-width: 1300px) {
  
    .card{
        width: 40%;
    }

} 


@media only screen and (max-width: 740px) {
    .card{
    width: 90%;
    }
} 
