.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 1rem;
  border-radius: 10px;
  z-index: 1001;
  max-width: 90%;
  max-height: 80%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 800px;
}

.modal-content > button{
  display: flex;
  justify-content: center;
  align-self: center;
  max-width: 300px; 
  width: 100%;
}


@media only screen and (max-width: 480px) {
  .modal-content > h3 {
    font-size: 15px;
  }
}