footer{
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 10px;
    width: 100%;
    background-color: #4a90e2;
    height: 50px;
    margin-top: auto;
}

footer > p{
    color: white;
}