/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

.content{
    padding-block: 25px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: 50%;
}

td{
    font-size: 12px;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 22px 10px;
  text-align: left;
}

.table-section {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  box-sizing: border-box;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.button-hero > button{
    transition: 0.3s;
    font-size: 14px;
    padding: 3px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    border: 1px solid #f2994a;
    background-color: rgb(0, 0, 0, 0.1);
    cursor: pointer;
}

.other-btn{
  margin-top: 50px;
  margin-bottom: 50%;
}


.button-hero > button:hover{
    transition: 0.5s;
    text-decoration: none;
    color: white;
    background-color: #f2994a;
    display: flex;
    align-self: center;
    justify-self: center;
}

.button-hero{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media only screen and (max-width: 1024px) {
  .content{
    width: 80%;
  }
} 

@media only screen and (max-width: 740px) {
  th{
    font-size: 12px;
  }
  
  td{
    font-size: 8px;
  }

  th, td {
  padding: 2px;
  text-align: left;
  }

  .button-hero{
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .button-hero > button{
    transition: 0.3s;
    font-size: 9px;
    padding: 1px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    border: 1px solid #f2994a;
    background-color: rgb(0, 0, 0, 0.1);
  }

} 


@media only screen and (max-width: 480px) {
  th{
    font-size: 8px;
  }

  .table-section{
    padding-left: 10px;
  } 
  
  td{
    font-size: 6px;
  }

  th, td {
  padding: 1px;
  text-align: left;
}
}